@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Young+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
 background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 20px;
  margin: 5px 0px;
  background-color: #333;
  color: #fff;

  position: sticky;
  top: 0;
}

.logo {
  width: 100;
  padding: 0px;
  text-align: center;
}


nav ul li {
  list-style: none ;   /* Remove bullets */
  padding: 10px;
  display: inline-block;
}



li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin: 10px;
}

a:hover{
    text-decoration: underline;
    color: #007bff;
  }

  main {
    margin: 20px;
    padding: 20px;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 20px;
  }

  h2, h3 {
    text-align: center;
    margin: 20px 0px;
  }

  footer {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;

  }

  .contenedorMainPrincipal {
    margin: 20px;
    border-radius: 10px;
   
  }

  .imgMain {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20px ;
  }




  /* Formulario Contacto */
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="text"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .btnFormulario {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    

  }


  /* ACERCA DE */
.containerMisionVision {
    display: flex;
    justify-content: space-between;
}

.mision, .vision {
  flex: 1;
  margin-top: 15px;
}

iframe {
  display: block;
  margin: auto;
  padding-top: 30px;
}

.containerLugares {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  
}

p {
  flex: 1;
  padding: 10px 10px 20px 5px;
}

iframe {
  flex: 1;
  border-radius: 10px;
}

.containerBio {
  margin: 20px;
  border: 2px solid gray;
  border-radius: 5px;
}

.imgBio {
  display: block;
  width: 100%;
  height: auto;

}